.nav-container{
}

.About,
.Share {
    font-weight: bold;
    font-size: 15px;
    font-weight: bold;
    border: none;
    background: none;
    cursor:pointer;
    margin-right: 20px;
}

.About:focus{
    outline: none;
}

.Share:focus{
    outline: none;
}

.About:active{
    color: white;
}

.Share:active{
    color: white;
}

#modal_title{
    text-align: center;
    font-weight: bold;
    font-size: 30px;
}

#modal_share{
    padding: 3.3px;

}

#modal_body{
    font-size: 25px;
}

