/* #volume {
	position: flex;
	height: 10px;
	width: 250px;
	
	/* .ui-slider-range-min {
		height: 10px;
		width: 300px;
		position: absolute;
		background: $primary-color;
		border: none;
		border-radius: 10px;
    	outline: none;
	}
	 */
	/* .ui-slider-handle {
	width: 20px;
  	height: 20px;
	border-radius: 20px;
  	background: #FFF;
  	position: absolute;
  	margin-left: -8px;
  	margin-top: -8px;
  	cursor: pointer;
  	outline: none;
	}
} */
#volume {
    -webkit-appearance: none;
    width: 25%;
    height: 8px;
    border-radius: 5px;  
    background: lightgray;
    outline: none;
    opacity: 0.7;
    -webkit-transition: .2s;
    transition: opacity .2s;
  }
  
#volume::-webkit-slider-thumb {
    -webkit-appearance: none;
    appearance: none;
    width: 15px;
    height: 15px;
    border-radius: 50%; 
    background: black;
    cursor: pointer;

  }
  
#volume::-moz-range-thumb {
    width: 25px;
    height: 25px;
    border-radius: 50%;
    background: #4CAF50;
    cursor: pointer;
}

#play-icon {
    border:none;
    background: none;
    outline:none;
}