#volume {
    -webkit-appearance: none;
    position: flex;
    padding-right: ;
    width: 250px;
    height: 3px;
    border-radius: 5px;  
    background: darkgrey;
    outline: none;
    opacity: 0.7;
    -webkit-transition: .2s;
    transition: opacity .2s;

  }
  
#volume::-webkit-slider-thumb {
    -webkit-appearance: none;
    appearance: none;
    width: 15px;
    height: 15px;
    border-radius: 50%; 
    background: black;
    cursor: pointer;

  }
  
#volume::-moz-range-thumb {
    width: 25px;
    height: 25px;
    border-radius: 50%;
    background: #85b6a0;
    cursor: pointer;
}

#play-icon {
    /* position: absolute; */
    border:none;
    background: none;
    outline:none;
    /* right: 104%;
    min-height: 7.5%; */
}

.audio_div{
  padding-bottom: 8%;
}
