*{
    background-color: #e1dacb;
    -webkit-box-sizing: border-box;
    /* Safari/Chrome, other WebKit */
    -moz-box-sizing: border-box;
    /* Firefox, other Gecko */
    box-sizing: border-box;
    /* Opera/IE 8+ */
}

html{}
body {
    min-height: 100%;
    background-color: #e1dacb;
    margin: 4%; 
}

.images {
    max-width: 70%;
    height: auto;
    margin-left: 10%; 
}


.audio_container{
    bottom: 0;
    position: absolute;

}

.spott{
    padding-right: 50px;
    
}   

.h33{
    text-overflow: none;
    white-space: nowrap;
}

#first_col{
height: 100%;
}

#quote{
    font-size: 12px;
    margin: 10px;
    text-align: left;
}

#footer{
    text-align: right;
    bottom: 0;
    padding-top: 110px;
    font-size: 14px;
    word-wrap: break-word;
}