*{
    background-color: #e1dacb;
    -webkit-box-sizing: border-box;
    /* Safari/Chrome, other WebKit */
    -moz-box-sizing: border-box;
    /* Firefox, other Gecko */
    box-sizing: border-box;
    /* Opera/IE 8+ */
}

html{}
body {
    min-height: 100%;
    background-color: #e1dacb;
    margin: 4%; 
    margin-right: 50px;
}

.images {
    max-width: 80%;
    height: auto;
    margin-left: 5%; 
}


.audio_container{
    bottom: 0;
    position: absolute;

}

.spott{
    padding-right: 50px;
}   

.h33{
    text-overflow: none;
    white-space: nowrap;
}

#first_col{
    height: 100%;
}

#last_col{
    margin-top: 55px;
    align-items: center;
}

#quote{
    font-size: 15px;
    margin: 10px;
    text-align: left;
}

#footer{
    text-align: right;
    bottom: 0;
    padding-top: 55px;
    font-size: 14px;
    word-wrap: break-word;
    text-decoration: none;
}

#name:link,
#name:visited,
#name:hover,
#name:active{
    color:inherit;
}