*{
    background-color: #e1dacb;
    -webkit-box-sizing: border-box;
    /* Safari/Chrome, other WebKit */
    -moz-box-sizing: border-box;
    /* Firefox, other Gecko */
    box-sizing: border-box;
    /* Opera/IE 8+ */
}

.main{
    margin: 4%; 
}

.col_audio{
    padding-top: 8%;
    overflow: visible;
}

.images {
    max-width: 70%;
    height: auto;
    margin-left: 15%;    
}

.col_spotify{
    position:absolute;
    top: 550px;
}

.audio_container{
    min-width: 100%;
}