.box {
    position: absolute;
    text-align: center;
    cursor: move;
    max-width: 215px;
    overflow-wrap: break-word;
    border-radius: 5px;
    padding: 1em;
    margin: auto;
    user-select: none;
    overflow: hidden;
    z-index: 99;
}

#todo_button {
    display:inline-block;
    font-size: 25px;
    font-weight: bold;
    padding: 0;
    border: none;
    background: none;

}
#todo_button:focus{
    outline: none;
}
#delete {
    font-size: 0.6em;
    position: fixed;
    top: 2px;
    right: 1px;
    background-color: transparent;
    border: none;
    outline:none;
}

#delete:hover {
    color: rgb(255, 55, 55);
    outline:none;
}

.effect:focus{outline: none;}

.div_effect{
    float: center;
    width: 18%; 
    position: relative;
}

.effect {
    border:0;
    background-color: #e1dacb;
    padding: 5%; 
    width: 250px;
    border-bottom: 4px solid #ccc;
}
.effect ~ .focus-border{
    position: absolute; 
    bottom: 0; 
    left: 120px; 
    width: 0; 
    height: 4px; 
    background-color: #85b6a0; 
    transition: 0.4s;
}
.effect:focus ~ .focus-border{
    width: 250px; 
    transition: 0.4s; 
    left: 0;
}

.effect::placeholder{
    text-align: left;
    font-style: italic;
    font-size: 15px;
}